.top-header {
  background-color: #0c7cec;
  text-align: end;
}

.top-header .container {
  width: 75%;
  margin: auto;
}

.top-header .container span {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  margin-left: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

nav img {
  width: 80px;
}

nav li {
  display: inline-block;
  padding: 50px 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  list-style: none;
}

nav li.active {
  position: relative;
}

nav li.active:before {
  content: "";
  width: 60%;
  height: 5px;
  background-color: #0c7cec;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

nav li.active a {
  color: #0c7cec;
}

nav li a {
  text-decoration: none;
  color: #000;
}

nav .searchBar {
  position: relative;
  border-bottom: 2px solid #0c7cec;
  width: 130px;
}

nav .searchBar input {
  width: 85%;
  border: none;
  text-align: end;
  padding: 5px 15% 5px 0;
}

nav .searchBar input:focus {
  outline: none;
}

nav .searchBar i {
  position: absolute;
  cursor: pointer;
  top: 4px;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navList {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  height: 420px;
  overflow: hidden;
}

.navList .navFooter {
  display: flex;
  width: 75%;
  margin: auto;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.navList .navFooter .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.navList .navFooter .container ul {
  color: #fff;
  margin-right: 20px;
}

.navList .navFooter .container ul li {
  list-style: none;
  line-height: 25px;
  font-size: 15px;
}

.navList .navFooter .container ul li.titleList {
  text-transform: uppercase;
  padding: 30px 0 10px 0;
  font-size: 16px;
  font-weight: 700;
}

.navList .navFooter .container ul li a {
  text-decoration: none;
  color: #959595;
}

.navList .navFooter .container ul li a:hover {
  color: white;
}

.navList .navFooter img {
  position: absolute;
  right: 0;
  transform: translateY(-10%);
}

.containerBottomFooter {
  background-color: #303030;
}

.containerBottomFooter .bottomFooter {
  width: 70%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerBottomFooter .bottomFooter span {
  text-transform: uppercase;
  border: 2px solid #0582f9;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.containerBottomFooter .bottomFooter .container-social {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  color: #0582f9;
}

.containerBottomFooter .bottomFooter .container-social .follow {
  color: #0582f9;
  border: none;
  cursor: default;
}

